*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
.header{
    background-color: #43ab7c;
    width: 100%;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    position: fixed;
}
.header .imagen{
display: block;
height: 90px;
margin: 0px auto;
/* margin-top: 5px; */
margin-right:750px ;
}
 .atras{
background: white;
width: 130px;
border: 1px solid #43ab7c;
padding: 10px;
color: black;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
border-radius: 50px;
display: block;
float: left;
margin-top: 25px;
margin-left: 30px;
font-weight: bold;
color: #43ab7c;
text-align: center;

}
.siguiente{
    width: 130px;
    background: white;
    border: 1px solid #43ab7c;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-radius: 50px;
    display: block;
    float: right;
    margin-top: -65px;
    margin-right: 30px;
    font-weight: bold;
    color: #43ab7c;
    text-align: center;
}

.contenido{
    width: 100%;
    height: 25%;
    /* min-height:72vh; */
    position:fixed;
    z-index: 1200;
    background: #fff;
    margin-top: 14vh;
    display: block;

}
.contenido h1{
    color: #43ab7c;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.contenido input{
    width: 1510px;
    height: 35px;
    padding: 0px 10px;
    color: black;
    text-align: center;
    margin: 10px 30px;
    display: block;
    border-radius: 35px;
    border: 1.5px solid rgb(66, 156, 100);
    border-right: 1.5px solid rgb(73, 151, 112);
    border-bottom: 1.5px solid rgb(73, 187, 126);


}
.numeros1{
    width: 100%;
    height: 80%;
    /* min-height:72vh; */
    position:fixed;
    z-index: 1200;
    background: #fff;
    margin-top: 38vh;
    display: block;
    text-align: center;
}
.numeros2{
    width: 100%;
    height: 80%;
    /* min-height:72vh; */
    position:fixed;
    z-index: 1200;
    background: #fff;
    margin-top: 3vh;
    display: block;
    text-align: center;
}
.numeros3{
    width: 100%;
    height: 80%;
    /* min-height:72vh; */
    position:fixed;
    z-index: 1200;
    background: #fff;
    margin-top: 13vh;
    display: block;
    text-align: center;
}
.numeros4{
    width: 100%;
    height: 80%;
    /* min-height:72vh; */
    position:fixed;
    z-index: 1200;
    background: #fff;
    margin-top: 23vh;
    display: block;
    text-align: center;
}
.numeros1 input{

    width: 110px;
    height: 60px;
    border-radius: 35px;
    border: 2px solid rgb(66, 156, 100);
    border-right: 2px solid rgb(73, 151, 112);
    border-bottom: 2px solid rgb(73, 187, 126);
    font-weight: bold;


}
.numeros2 input{

    width: 110px;
    height: 60px;
    border-radius: 35px;
    border: 2px solid rgb(66, 156, 100);
    border-right: 2px solid rgb(73, 151, 112);
    border-bottom: 2px solid rgb(73, 187, 126);
    font-weight: bold;
}
.numeros3 input{

    width: 110px;
    height: 60px;
    border-radius: 35px;
    border: 2px solid rgb(66, 156, 100);
    border-right: 2px solid rgb(73, 151, 112);
    border-bottom: 2px solid rgb(73, 187, 126);
    font-weight: bold;
}
.numeros4 input{

    width: 110px;
    height: 60px;
    border-radius: 35px;
    border: 2px solid rgb(66, 156, 100);
    border-right: 2px solid rgb(73, 151, 112);
    border-bottom: 2px solid rgb(73, 187, 126);
    font-weight: bold;
}
.generarturno{
    width: 100%;
    height: 75%;
    /* min-height:72vh; */
    position:fixed;
    z-index: 1200;
    background: #fff;
    margin-top: 58vh;
    display: block;
    text-align: center;
}
.generarturno button{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 1.5px solid rgb(66, 156, 100);
    border-right: 1.5px solid rgb(73, 151, 112);
    border-bottom: 1.5px solid rgb(73, 187, 126);
    font-size: 16px;
    font-weight: bold;
    color: rgb(66, 156, 100);;
    font-family: Arial, Helvetica, sans-serif;
}


